<!-- templates/nurse_dashboard.html -->
{% extends 'base.html' %}
{% block title %}Nurse Dashboard{% endblock %}
{% block content %}
<div style="background-image: url('{{ url_for('static', filename='nurse.webp') }}'); background-size: cover; background-position: center; height: 100vh; width: 100%; display: flex; align-items: center; justify-content: center;">
    <div style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px; text-align: center;">
<h2>Welcome, Nurse {{ current_user.username }}</h2>
<p>This is your nurse dashboard.</p>
<ul>
    <li><a href="{{ url_for('nurse_search_patients') }}">Search Patients</a></li>
</ul>
</div>
</div>
{% endblock %}
