<!-- templates/patient_dashboard.html -->
{% extends 'base.html' %}
{% block title %}Patient Dashboard{% endblock %}
{% block content %}
<h2>Welcome, {{ current_user.username }}</h2>
<p>This is your patient dashboard.</p>
<ul>
    <li><a href="{{ url_for('patient_profile') }}">View/Update Profile</a></li>
    <li><a href="{{ url_for('submit_health_data') }}">Submit Health Data</a></li>
    <li><a href="{{ url_for('patient_view_health_data') }}">View/Modify Health Data</a></li>
    <li><a href="{{ url_for('view_prescriptions') }}">View Prescriptions</a></li>
    <li><a href="{{ url_for('view_nurse_comments') }}">View Nurses' Comments</a></li>
</ul>
{% endblock %}
